{% extends "base.html" %}

{% block css %}
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel='stylesheet' href="{{ STATIC_PREFIX }}css/upload.css" type='text/css' />
{% endblock %}

{% block js %}
    <script type='text/javascript' src="{{ STATIC_PREFIX }}js/upload.js"></script>
{% endblock %}

{% block content %}
 <div style='float: left; width: 100%; text-align: center;'>
    <a style='font-size: 18px;' href="/">Back To Search</a><br /> <br /> <br />
 </div>
 <div style='float: left; width: 100%;'>
 <div id='upload'>
    
    <span style='font-size: 16px;'>Upload <span style='color: rgb(80,80,255);'>Grayscale Image (Jpeg Only)</span> </span>  <br /><br /> 

    <form id='i' action='/upload_file/' method='post' enctype='multipart/form-data'>
    {% csrf_token %}
     <input id='img' name='img' type='file' />
    </form><br />
    <br /><br />
    <u>or</u>
    <br /><br /><br />
    <span style='font-size: 16px;'>Upload <span style='color: rgb(80,80,255);'>Grayscale Video (MPG4 Only)</span></span> <br /><br />   <input id='vid' type='file' /> <br />
    <br />
    <div style='width:80%; float: left; text-align: right;'>
        <input id='sub' type='submit' value="Upload" />
    </div>
 </div>
 
 </div>

{% endblock %}
