#upload {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 2% 2% 3% 2%;
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radisu: 5px;
}
