<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta http-equiv="Context-Type" context="text/html;charset=UTF-8" />
        {% load static %}
        {% get_static_prefix as STATIC_PREFIX %}
        <link rel='stylesheet' href="{{ STATIC_PREFIX }}css/base.css" type='text/css' />
        {% block css %} {% endblock %}
		<script type='text/javascript' src="{{ STATIC_PREFIX }}js/jquery-1.5.2.min.js"></script>
        {% block js %} {% endblock %}'
		
    </head>
    <body>
        <div id="container">
            <div id="header">
                {% block header %} <h1> Image Search </h1>
                <span style='font-size:18px; color:orange;'>Alpha</span> {% block version %} &#8226; <span style='color: rgb(255,50,50);'>v0.0.4</span> <br /> <br />
                <a href='http://semver.org'>semver.org</a> {% endblock %}
                {% endblock %}
                
            </div>
            <div id="content">
                {% block content %} {% endblock %}
            </div>
            <div id="footer">
                {% block footer %} 

                &copy; 2011 Reddy Chukkalore, Eudis Duran, Carl Chinatomby.
                {% endblock %}
                
            </div>
        </div>
    </body>
</html>
